.our__footer {
    
    margin-top: 149px;
    
    .our__footer_img {
        position: absolute;
        width: 1111px;
        height: 292px;
    }
    
    .our__footer_text {
        position: absolute;
        width: 459px;
        height: 174px;
        padding-left: 95px;
        padding-top: 75px;
    }
    
    h2 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #FFFFFF;
    }
    
    p {
        padding-top: 16px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }
    
    .our__btn {
        position: absolute;
        height: 56px;
        width: 152px;
        border-radius: 8px;
        border: none;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #333136;
    }
    
    .our__btn {
        margin-top: 129px;
        margin-left: 863px;
    }
    
    @media screen and (max-width: 400px) {
        .our__footer_img {
            height: 379px;
            width: 327px;
            border-radius: 15px;
        }
        
        h2 {
            width: 279px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            padding-right: 120px;
        }
        
        p {
            width: 279px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            padding-right: 120px;
        }
    }
}